{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        quil/quil {:mvn/version "4.3.1563"}
        speclj/speclj {:mvn/version "3.10.0"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        cljs-http/cljs-http {:mvn/version "0.1.46"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        clojure.java-time/clojure.java-time {:mvn/version "1.4.3"}
        }
 :aliases {:test {:extra-paths ["spec" "target/generated-acceptance/spec"]
                  :main-opts ["-m" "speclj.main" "-c" "spec" "target/generated-acceptance/spec"]}
           :spec {:main-opts ["-m" "speclj.main" "-c" "spec" "target/generated-acceptance/spec"]
                  :extra-paths ["spec" "target/generated-acceptance/spec"]}
           :acceptance {:main-opts ["-m" "speclj.main" "-c" "target/generated-acceptance/spec"]
                        :extra-paths ["target/generated-acceptance/spec"]}
           :gherkin-json {:main-opts ["-m" "skillBoard.gherkin"]}
           :generate-acceptance {:main-opts ["-m" "skillBoard.acceptance-generator"]}
           :skillBoard {:main-opts [-m skillBoard.core]}
           :run {:main-opts [-m skillBoard.core]}
           :cljs {:main-opts ["-m" "cljs.main"
                              "--optimizations" "none"
                              "--compile" "skillBoard.core"
                              ]}
           :cov {:main-opts ["-m" "speclj.cloverage" "--" "-p" "src" "-s" "spec"]
                 :extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
                 :extra-paths ["spec"]}
           :scrap {:main-opts ["-m" "scrap.core"]
                   :extra-deps {io.github.unclebob/scrap
                                {:git/url "https://github.com/unclebob/scrap.git"
                                 :git/sha "f793b28906d3c60e30b128e1ec08df6269a72b13"}}
                   :extra-paths ["spec"]}
           :mutate {:main-opts ["-m" "clj-mutate.core"]
                    :extra-deps {io.github.unclebob/clj-mutate
                                 {:git/url "https://github.com/unclebob/clj-mutate.git"
                                  :git/sha "426045ea9d738facea204357b1243bc93070d3f6"}}
                    :extra-paths ["spec"]}
           :crap {:main-opts ["-m" "crap4clj.core"]
                  :extra-deps {io.github.unclebob/crap4clj
                               {:git/url "https://github.com/unclebob/crap4clj.git"
                                :git/sha "16697b336705e7008cf9c75dc3b7dc0a5965db18"}}
                  :extra-paths ["spec"]}
           :check {:main-opts ["-m" "speclj-structure-check.core"]
                   :extra-deps {io.github.unclebob/speclj-structure-check
                                {:git/url "https://github.com/unclebob/speclj-structure-check.git"
                                 :git/sha "7cc804c4e99b3482ca1d8a26b735ed41751a03ab"}}
                   :extra-paths ["spec"]}
           :spec-check {:main-opts ["-m" "speclj-structure-check.core"]
                        :extra-deps {io.github.unclebob/speclj-structure-check
                                     {:git/url "https://github.com/unclebob/speclj-structure-check.git"
                                      :git/sha "7cc804c4e99b3482ca1d8a26b735ed41751a03ab"}}
                        :extra-paths ["spec"]}
           }
 }
