{:version 2, :hash-algorithm :sha256-source-v1, :verified? true, :tested-at "2026-09-16T13:57:34.095599-05:00", :source "src/skillBoard/test/acceptance_test_runner.clj", :module-hash "f14c49a5d8fdda857c4cc019fc6f820371eac1766ddcda223468fdaced999cd3", :provenance {:mutation-rules-version "3", :test-command "clj -M:spec --tag ~no-mutate", :test-roots ["spec" "target/generated-acceptance/spec"], :test-profile-fingerprint "6e9d2723162c91dbd19c6ab67ef5c73abdc62608f10d5c93e80b4a33d6552320"}, :forms [{:id "form/0/ns", :kind "ns", :line 1, :end-line 2, :hash "7ff3a2b4f2732eedcaf83cc65cbd1e0db0828b8fb3aaefa672974f5320638f49", :killed 0, :survived 0, :uncovered 0} {:id "defn/-main", :kind "defn", :line 4, :end-line 5, :hash "55e2e60eec64403cf440f48bff51a744f8a4f873f52193d60cdb8e11b88ebfd9", :killed 0, :survived 0, :uncovered 0}]}
