{:title "SkillBoard"
 :src "src"
 :prefix "skillBoard"
 :lang :clojure
 :out "examples/skillBoard.edn"
 :hierarchical true
 :foreign [quil clj-http java-time clojure.data.json]
 :order [core adapters presenters gateways domain foundation test]
 :edge-kinds {[:core :adapters.split-flap] :association
              [:core :adapters.heartbeat] :association
              [:core :adapters.text-util] :association
              [:core :presenters.main] :association
              [:core :gateways.comm-utils] :association
              [:core :gateways.wind-data] :association
              [:adapters.split-flap :presenters.main] :association
              [:adapters.split-flap :presenters.screen] :association
              [:adapters.heartbeat :foundation.core-utils] :association
              [:presenters.main :presenters.screen] :association
              [:presenters.main :presenters.utils] :association
              [:presenters.flights :presenters.screen] :association
              [:presenters.traffic :presenters.screen] :association
              [:presenters.weather :presenters.screen] :association
              [:presenters.airports :presenters.screen] :association
              [:presenters.wind-map :presenters.screen] :association
              [:presenters.wind-map :presenters.wind-map.layer] :association
              [:presenters.wind-map :presenters.wind-map.particles] :association
              [:presenters.wind-map.layer :presenters.wind-map.geo] :association
              [:presenters.wind-map.layer :presenters.wind-map.markers] :association
              [:presenters.wind-map.layer :presenters.wind-map.overlays] :association
              [:presenters.wind-map.particles :presenters.wind-map.geo] :association
              [:foundation.core-utils :foundation.time-util] :association
              [:foundation.core-utils :foundation.atoms] :association
              [:foundation.core-utils :foundation.config] :association
              [:foundation.time-util :foundation.config] :association}}
